.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E27D60;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Todo-Class {
  font-size: 20px;
  position: relative;
  color: #272b2e;
  width: 50%;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 0px;
  margin-top: 3px;
  /* padding-top: 4px; */
  /* padding-bottom: 4px; */
  

}
.checkbox {
  margin-right: 10px;
  width: 30px;
 
}

input[type=checkbox] {
  transform: scale(1.5);
  border: none;
}

.Text-input {
  
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  width: 250px;
  height: 28px;
  /* border-radius: 5px; */
  border: none;
  background-color: whitesmoke;
}

.Add-button {
  
  color: #E27D60;
  font-size: 22px;
  font-weight: bolder;
  background-color: whitesmoke;
  border: none;
  margin-bottom: 5px;
  text-align:center;
  height: 30px;
  
  
}

.Input-container {
  border: 2px solid black;
  width: 60%
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
